
header{
    height: 100px;   
}
h2 {
    color: whitesmoke;
    position: relative;
    right: 70px;
}
.pro {
    height: 100px;
    margin: 0;
    position: relative;
    left: 115px;
    
}
h3 {
    position: relative;
    right: 10px;
}